<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Hans McMurdy">
    <title>Bootstrap 5 Offcanvas Template · Bootstrap</title>
    <meta name="title" content="#JavaScriptFirst">
    <meta name="description"
        content="Learn how to code with #JavaScriptFirst: https://github.com/HansUXdev/JavaScript-First">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <link href="/css/custom-datatable.css" rel="stylesheet">
    <!-- Favicons -->

    <meta name="theme-color" content="#7952b3">

</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg fixed-top bg-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="logo"
                    src="https://regbook.sia.co.th/assets/img/product/SIALogo.jpg" alt=""></a>
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            </div>
        </div>
    </nav>
    {{!-- <div class="container-fluid mt-5 text-center">
        <div class="row">
            <div class="col2">
                <h2 style="font-weight: 100; color:#00247c;">ระบบค้นหาเล่มทะเบียน</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <form class="row text-center">
                    <div class="col-md-4">
                        <label class="form-label">
                            <label style="font-size: 18px;">กรุณาพิมพ์ เลขทะเบียนรถ หรือ เลขตัวถังของรถ
                                ที่ต้องการค้นหา</label>
                        </label>
                    </div>
                    <div class="col-md-3 col-sm-8">
                        <input type="text" class="form-control" value="">
                    </div>
                    <div class="col-md-5 col-sm-4 text-left">
                        <button type="button" class="btn btn-success btn-responsive">ค้นหาข้อมูล</button>
                    </div>
                </form>
                <div class="row ">
                    <div class="col-md-4 col-sm-12 text-center">
                        <span style="color: red;">หมายเหตุ กรุณาระบุ ทะเบียนรถ หรือ เลขตัวถังของรถ ให้ครบถ้วน ตัวอย่าง
                            1กก 1111</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-hover bg-dark text-white">
                            <thead class="thead-dark">
                                <tr>
                                    <th>No</th>
                                    <th>ทะเบียน</th>
                                    <th>จังหวัด</th>
                                    <th>เลขตัวถัง</th>
                                    <th>วันที่ประมูล</th>
                                    <th>ลำดับ</th>
                                    <th>ยี่ห้อรถ</th>
                                    <th>รุ่น</th>
                                    <th>สถานที่ประมูล</th>
                                    <th>สถานะเล่มทะเบียน</th>
                                </tr>
                            </thead>
                            <tbody id="lg_listdata">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}
    <section id="no-padding-top mt-5">
        <div class="img banner-top ">
            <img class="images-banner w-100"
                src="../assets/images/sia.png"
                alt="car">
        </div>
        <div class="container">
            <form class="search-filter" method="get">
                <div class="row mt-5">
                    <div class="col-md-8 mx-auto">
                        <div class="input-group">
                            <input class="form-control border-end-0 border rounded-pill" type="search" value=""
                                placeholder="กรุณาพิมพ์ เลขทะเบียนรถ หรือ เลขตัวถังของรถ ที่ต้องการค้นหา"
                                id="example-search-input">
                            <button type="button" class="btn btn-success border-end-0 border rounded-pill ml-3 btn-lg">ค้นหาข้อมูล</button>
                        </div>
                        <div class="text mt-2 text-left">
                            <span style="color:red; font-weight: 100"> * หมายเหตุ กรุณาระบุ ทะเบียนรถ หรือ เลขตัวถังของรถ ให้ครบถ้วน ตัวอย่าง 1กก 1111</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    {{!-- <section id="table">
        <div class="container">
            <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-hover bg-dark text-white main_tbl_chk" id="tbl_show">
                            <thead class="thead-custom">
                                <tr>
                                    <th>No</th>
                                    <th>ทะเบียน</th>
                                    <th>จังหวัด</th>
                                    <th>เลขตัวถัง</th>
                                    <th>วันที่ประมูล</th>
                                    <th>ลำดับ</th>
                                    <th>ยี่ห้อรถ</th>
                                    <th>รุ่น</th>
                                    <th>สถานที่ประมูล</th>
                                    <th>สถานะเล่มทะเบียน</th>
                                </tr>
                            </thead>
                            <tbody id="lg_listdata">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section> --}}
    
    {{!-- <section id="tbl_table">
        <div class="container">
            <div class="flex-box my-5">
                <div class="item">                    
                    <p>NO.</p>
                </div>
                <div class="item">
                    <p>ทะเบียน</p>
                </div>
                <div class="item">
                    <p>จังหวัด</p>
                </div>
                <div class="item">
                    <p>เลขตัวถัง</p>
                </div>
                <div class="item">
                    <p>วันที่ประมูล</p>
                </div>
                <div class="item">
                    <p>ลำดับ</p>
                </div>
                <div class="item">
                    <p>ยี่ห้อรถ</p>
                </div>
                <div class="item">
                    <p>	รุ่น</p>
                </div>
                <div class="item">
                    <p>สถานที่ประมูล</p>
                </div>
                <div class="item">
                    <p>สถานะเล่มทะเบียน</p>
                </div>
                
            </div>
            <div class="d-flex justify-content-around">
                <div class="d-item">
                    1
                </div>
                <div class="d-item">
                    2ฒล-2128
                </div>
                <div class="d-item">
                    กรุงเทพมหานคร
                </div>
                <div class="d-item">
                    EG6546146145
                </div>
                <div class="d-item">
                    17/01/2567
                </div>
                <div class="d-item">
                    4-8
                </div>
                <div class="d-item">
                    CHEVROLET
                </div>
                <div class="d-item">
                    COLORADO X-CAB
                </div>
                <div class="d-item">
                    นนทบุรี
                </div>
                <div class="d-item">
                    พร้อมรับเล่ม
                </div>
            </div>
            
        </div>
    </section> --}}
    <section id="main">
        <div class="container mt-5">
            <div class="header">
                <div class="row">
                    <div class="col">
                        NO.
                    </div>
                    <div class="col">
                        ทะเบียน
                    </div>
                    <div class="col">
                        จังหวัด
                    </div>
                    <div class="col">
                        เลขตัวถัง
                    </div>
                    <div class="col">
                        วันที่ประมูล
                    </div>
                    <div class="col">
                        ลำดับ
                    </div>
                    <div class="col">
                        ยี่ห้อรถ
                    </div>
                    <div class="col">
                        รุ่น
                    </div>
                    <div class="col">
                        สถานที่ประมูล
                    </div>
                    <div class="col-2">
                        สถานะเล่มทะเบียน
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">1</div>
                <div class="col">2ฒล-2128</div>
                <div class="col">กรุงเทพมหานคร</div>
                <div class="col">17/01/2567</div>
                <div class="col">4-8</div>
                <div class="col">CHEVROLET</div>
                <div class="col">COLORADO X-CAB</div>
                <div class="col">นนทบุรี</div>
                <div class="col">1</div>
                <div class="col-2">1</div>
            </div>
        </div>
    </section>




</html>